@media only screen and (min-width: 640px) {
	.mainShell .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
		max-width: 116px;
		padding-top: 10px;
	}
	.homeContent {
		width: 60%;
	}
	.homeTileIcons {
		width: 3rem;
		height: 3rem;
	}
	.inputLocation .sapMInputBaseInner{
	    width:20rem;
	}
	.homeTileText {
	    font-size:0.875rem;
	}
}

@media only screen and (max-width: 640px) {
	.mainShell .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
		max-width: 100px;
		padding-top: 15px;
	}
	.homeContent {
		width: 100%;
	}
	.homeTileIcons {
		width: 2rem;
		height: 2rem;
	}
	.homeTileText {
	    font-size:0.675rem;
	}
	.inputLocation .sapMInputBaseInner{
	    width:12rem;
	}
}
.spaceAround {
	padding-top:2rem;
	padding-bottom:1rem;
}
.mainShell .sapMShellCentralBox {
	width: 1200px;
}

.mainShell.sapUiUfdShellAnim .sapUiUfdShellHead>div {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dff2f3),
		color-stop(0.33, #dff2f3), color-stop(0.75, #dff2f3),
		color-stop(1, #dff2f3));
	background-image: -webkit-linear-gradient(top, #dff2f3 0, #dff2f3 33%, #dff2f3 75%,
		#dff2f3 100%);
	background: linear-gradient(top, #f7f7f7 0, #dff2f3 33%, #dff2f3 75%, #DFF2F1 100%);
	-webkit-box-shadow: inset 0 -0.0625em #dff2f3;
	box-shadow: inset 0 -0.0625em #dff2f3;
}

.sapMAppBG.sapMGlobalBackgroundImage {
	background-color: #ffffff;
}

.sapMInput.inputLocation {
	padding-left: 10px;
}

.sapMInput.inputLocation .sapMInputBaseInner, .inputLocation.sapMMultiComboBox>.sapMMultiComboBoxBorder
	{
	border-radius: 6px;
	border: 2px solid #1abc9c;
}

.sapMInputBaseInner:not (.sapMInputBaseReadonlyInner ):not (.sapMInputBaseStateInner
	 ):focus, .sapMInputBaseInner:not (.sapMInputBaseReadonlyInner ):not (.sapMInputBaseStateInner
	 ):not (.sapMInputBaseDisabledInner ):hover {
	border-color: #1abc9c;
}

.buttonDesign .sapMBtnInner {
	border: 1px solid #1abc9c;
	border-radius: 6px;
	color: #fff;
	background-color: #1abc9c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1abc9c),
		color-stop(1, #1abc9c));
	background: -webkit-linear-gradient(top, #1abc9c 0, #1abc9c 100%);
	background: linear-gradient(top, #1abc9c 0, #1abc9c 100%);
	margin-left: 10px;
}

.mAppSapUiSmallMarginTop .sapMObjLIconDiv {
	float: none;
}

.vendorItems {
	padding: 10px;
	background-color: #CFEEF5;
	margin-bottom: 5px;
}

.mainPage {
	background-color: #ffffff;
}

.vendorAddress .sapMText {
	font-size: 0.675rem;
}

.vendorAddress .sapMLabel {
	font-size: 1rem;
}

.imgLabelBox {
	padding-top: 5px;
}

.bookingBox.sapMPage {
	height: 441px;
}

.filterList .sapMSLIIconThumb {
	height: 3rem;
}

.appointment {
	padding-left: 10px;
	padding-right: 10px;
}