@media (max-width:1000px) and (min-width:640px) {
  .mainShell .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
    max-width: 116px;
    padding-top: 10px;
  }
  .homeContent, .homePageContent {
    width: 75%;
  }
  .homeTileIcons {
    width: 3rem;
    height: 3rem;
  }
  .inputLocation .sapMInputBaseInner {
    width: 20rem;
  }
  .homeTileText {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1000px) {
	.mainShell .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
		max-width: 116px;
		padding-top: 10px;
	}
	.homeContent, .homePageContent {
		width: 60%;
	}
	.homeTileIcons {
		width: 3rem;
		height: 3rem;
	}
	.inputLocation .sapMInputBaseInner {
		width: 20rem;
	}
	.homeTileText {
		font-size: 0.875rem;
	}
}

@media only screen and (max-width: 640px) {
	.mainShell .sapUiUfdShellHeadBegin>.sapUiUfdShellIco>img {
		max-width: 100px;
		padding-top: 15px;
	}
	.homeContent, .homePageContent {
		width: 100%;
	}
	.homeTileIcons {
		width: 2rem;
		height: 2rem;
	}
	.homeTileText {
		font-size: 0.675rem;
	}
	.inputLocation .sapMInputBaseInner {
		width: 12rem;
	}
}

.spaceAround {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.mainShell .sapMShellCentralBox {
	width: 1200px;
}

.mainShell.sapUiUfdShellAnim .sapUiUfdShellHead>div {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dff2f3),
		color-stop(0.33, #dff2f3), color-stop(0.75, #dff2f3),
		color-stop(1, #dff2f3));
	background-image: -webkit-linear-gradient(top, #dff2f3 0, #dff2f3 33%, #dff2f3 75%,
		#dff2f3 100%);
	background: linear-gradient(top, #f7f7f7 0, #dff2f3 33%, #dff2f3 75%, #DFF2F1 100%);
	-webkit-box-shadow: inset 0 -0.0625em #dff2f3;
	box-shadow: inset 0 -0.0625em #dff2f3;
}

.filterLabel.sapMLabel {
	padding: 1rem 0 1rem 0.5rem;
	font-weight: bold;
}

.sapMAppBG.sapMGlobalBackgroundImage {
	background-color: #ffffff;
}

.sapMInput.inputLocation {
	padding-left: 10px;
}

.sapMInput.inputLocation .sapMInputBaseInner, .inputLocation.sapMMultiComboBox>.sapMMultiComboBoxBorder
	{
	border-radius: 6px;
	border: 2px solid #1abc9c;
}

.sapMInputBaseInner:not (.sapMInputBaseReadonlyInner ):not (.sapMInputBaseStateInner
	 ):focus, .sapMInputBaseInner:not (.sapMInputBaseReadonlyInner ):not (.sapMInputBaseStateInner
	 ):not (.sapMInputBaseDisabledInner ):hover {
	border-color: #1abc9c;
}

.buttonDesign .sapMBtnInner {
	border: 1px solid #1abc9c;
	border-radius: 6px;
	color: #fff;
	background-color: #1abc9c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1abc9c),
		color-stop(1, #1abc9c));
	background: -webkit-linear-gradient(top, #1abc9c 0, #1abc9c 100%);
	background: linear-gradient(top, #1abc9c 0, #1abc9c 100%);
	margin-left: 10px;
	text-shadow: 0;
}

.mAppSapUiSmallMarginTop .sapMObjLIconDiv {
	float: none;
}

.vendorItems {
	padding: 10px;
	background-color: #CFEEF5;
	margin-bottom: 5px;
}

.mainPage {
	background-color: #ffffff;
}

.vendorAddress .sapMText {
	font-size: 0.675rem;
}

.vendorAddress .sapMLabel {
	font-size: 1rem;
}

.imgLabelBox {
	padding-top: 5px;
}

.bookingBox.sapMPage {
	height: 441px;
}

.filterList .sapMSLIIconThumb {
	height: 3rem;
}

.appointment {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #cccccc;
}

.weekDayFilter .sapMBtnInner {
	padding-left: 0.30rem;
	padding-right: 0.30rem;
	min-width:1.8rem;
}

.clinicImages {
	max-width: 500px;
	min-width: 200px;
}

.timeMorning {
	background-color: #BDDEE6;
	padding-bottom: 10px;
}

.timeAfterNoon {
	background-color: #F9F179;
	padding-bottom: 10px;
}

.timeEvening {
	background-color: #EFCB7F;
	padding-bottom: 10px;
}

.timeNight {
	background-color: #504747;
	padding-bottom: 10px;
}

.timeNight a {
	color: white;
}

.monthCalender.sapUiCal {
	width: 98%;
}

.monthCalender .sapUiCalMonthView {
	width: 95%;
}

.monthCalender .sapUiCalDay {
	line-height: 2.4rem;
	height: 2.4rem;
}

.CalenderDate {
	padding: 0.25rem;
}

.CalenderDate .sapMLabel {
	font-weight: bold;
}

.CalenderTime .sapMLnk {
	margin: 0.2rem 0.3rem 0.2rem 0.2rem;
	font-size: 0.7rem;
}

.weekCalenderView {
	background-color: white;
}

.CalenderTime {
	overflow-y: scroll;
	max-height: 312px;
	padding: 0.25rem;
}

.bookingBox .sapMBar {
	width: 99%;
}

.VendorsList .sapMPanelWrappingDivTb>.sapMTB, .detailPanel .sapMPanelWrappingDivTb>.sapMTB
	{
	margin-left: 0;
	padding-top: 6px;
}

.filterCategoryList {
	overflow-y: scroll;
	max-height: 300px;
}

.filterCategoryList .sapMSLIIconThumb {
	height: 2rem;
}

.filterCategoryList .sapMSLITitleOnly {
	font-size: 1rem;
}

.filterCategoryList .sapMCbBg {
	width: 1rem;
	height: 1rem;
}

.VendorsList .sapMPanelExpandableIcon, .detailPanel .sapMPanelExpandableIcon
	{
	font-size: 0;
}

.BookingMainBox .sapMFlexItem:first-child {
	width: 99%;
}

.detailPanel .sapMTB-Transparent-CTX .sapMText, .detailPanel .sapMTB-Transparent-CTX .sapMLabel
	{
	font-size: 0.9rem;
}

.editableForm .buttonDesign .sapMBtnInner {
	margin-left: 0;
}

.buttonDesign .sapMBtnInner:hover {
	color: #000000;
}
.sapUiFormEdit .messageBox.sapMText {
	font-weight:bold;
	color:red;
}
.vendorAddress .sapMBtnIcon{
	font-size : 1.2rem;
	line-height : 0.7rem;
	width : 1.5rem;
}
.vendorAddress .sapMBtn{
  padding : 0;
  height : 0.7rem;
  margin-left:5px;
}
.vendorAddress .sapMBtnInner {
	height:1.5rem;
	min-width:1.5rem;
}
.sapMIBar .vendorAddress .sapMBtnInner {
	padding-top : 3px;
}